li {
	list-style: none;
	padding: 20px;
	width: 100%;
	border-radius: 10px;
	box-shadow: -2px -2px 2px #FFF;
    font-size: 18px;
  
    margin: 10px 0;
    background: linear-gradient(45deg, #2b4055, #334c65);
box-shadow:  2px -2px 5px #253748, 
             -2px 2px 5px #3b5774;
}
ul#todoList{
     display: flex;
    flex-direction: column-reverse;
    padding-left: 2px;
}

ul > li{
   cursor: pointer;
    flex: 0 0 auto;
}
a{
    padding-left:50px;
    color:red;
    cursor: pointer;
}


.input-header {
	display: flex;
	justify-content: start;
	margin: 50px;
}

.list-header {
	display: flex;
	justify-content: space-around;
}

input {
	outline: none;
	border: 1px solid#efefef;
	border-radius: 4px;
	width: 40%;
	padding-left: 10px;
	font-size: 18px;
	height: 40px;
	box-shadow: -6px -6px 12px #334c65;
}
button {
	cursor: pointer;
}
.button {
	background-color: #ee8572;
	color: white;
	cursor: pointer;
	outline: none;
	font-size: 14px;
	height: 40px;
	width: 100px;
	border: none;
	border-radius: 4px;
	margin-left: 10px;
}

#bottom {
	display: flex;
	justify-content: space-evenly;
	background-color: #fff;
	padding: 1%;
}

#bottom > a {
	text-decoration: none;
	color: #bbb;
}

.main {
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	width: 90%;
	height: 100%;
}

.hide {
	visibility: hidden;
}

.header {
	color: #fafafa;
	justify-content: space-between;
	padding-bottom: 20px;
	display: flex;
	flex-direction: column;
}

.btn-delete {
	cursor: pointer;
	background: transparent;
	border: none;
	font-size: 14px;
	color: #ff677d;
}

.empty {
	width: 100%;
	display: flex;
	justify-content: center;
	height: 20%;
	font-size: 20px;
	color: white;
	padding-top: 8%;
	border-radius: 5px;
	border: 2px dashed #ccc;
	background-color: #30475e;
}

.skrew {
	border: 1px solid red;
	transform: translateX();
	animation: skrew-animation 1s;
}

@keyframes skrew-animation {
	from {
		border: 1px solid red;
	}
	to {
		border: 2px solid red;
	}
}

.list-header-todo {
	cursor: pointer;
}

.clear-btn {
	margin-left: 50%;
}

.tagList{
    margin: 0 50px 50px 50px;
}
ul#taggedList{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.list-header-hashtag h1{
color: #fff;
}